*{
    margin: 0;
    padding: 0;
}
#master{
    border: 2px solid black;
    width: 970px;
    margin: 0 auto;
}
#top{
    background-color: #245076;
    height: 540px;
    border-bottom: 3px solid #193852;
}
#picture{
    max-width: 40%;
    display: inline-block;
}
#headerRight{
    width: 50%;
    display: inline-block;
}
#topText{
    position: relative;
    bottom: 65px;
    left: 330px;
}
.topYellow{
    color: #c3a900;
    text-decoration: underline;
}
#black{
    color: black;
}
#grey{
    height: 70px;
    width: 275px;
    background-color: #444444;
    position: relative;
    bottom: 60px;
    left: 250px;
    border-radius: 15px;
}
#search{
    height: 25px;
    width: 160px;;
    display: inline-block;
    background-color: white;
    text-align: center;
    position: relative;
    top: 18px;
    left: 37px;
    padding-top: 8px;
    font-size: 15px;
    color: #b0b0b0;
    box-shadow: inset 3px 3px 2px grey;
}
#go{
    background-color: #245076;
    width: 40px;
    height: 22px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 19px;
    left: 40px;
    border: solid 2px darkgrey;
    box-shadow: 2px 2px 2px black;
    border-radius: 6px;
    padding-top: 5px;
    color: white;
}
#menu{
    background: linear-gradient(#3474ad, #477ead, #3474ad);
    max-width: 85%;
    height: 40px;
    font-size: 25px;
    margin-left: 75px;
    text-align: center;
    border-radius: 8px;
    padding-top: 7px;
    box-shadow: 3px 3px 3px black;
    color: white;
}
.inline{
    display: inline;
    margin: 0 15px 0 15px;
}
#index{
    text-align: center;
    display: inline-block;
    max-width: 30%;
    text-decoration: underline;
    font-size: 18px;
    color: white;
    position: relative;
    top: 40px;
    left: 120px;
    vertical-align: top;
}
#midRight{
    max-width: 70%;
    display: inline-block;
    margin: 20px 0 0 100px;
    text-align: center;
}
#paragraph{
    max-height: 20%;
    color: white;
    margin-left: 50px;
}
#words{
    max-height: 70%;
}
.yellow{
    font-size: 22px;
    color: #ecca36;
    line-height: 37px;
    font-style: italic;
    font-weight: 300;
    margin-left: 50px;
}
h3{
    color: white;
    margin-left: 50px;
    font-weight: 100;
}
#middle{
    height: 230px;
    background-color: white;
}
.mid{
    display: inline-block;
    width: 40%;
    text-align: center;
    vertical-align: top;
    margin-left: 60px;
    border-top: solid 3px #72a7d5;
    position: relative;
    top: 20px;
}
h2{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 7px;
}
.links{
    color: #7aacd8;
    width: 250px;
}
.ul{
    margin-left: 60px;
}
#bottom{
    background: linear-gradient(#245076, #3374ad);
    height: 50px;
    text-align: center;
    padding-top: 40px;
}
.faded{
    color: #7eb1dd;
    display: inline;
    font-size: 20px;
    margin-left:25px;
}
#copyright{
    font-size: 12px;
    margin: 12px 0 0 0;
    color: #7eb1dd;
}